services:
  db:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: mini_task_tracker
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    environment:
      APP_ENV: dev
      DATABASE_URL: "mysql://app:app@db:3306/mini_task_tracker?serverVersion=8.4&charset=utf8mb4"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: "http://localhost:8080/api"
    environment:
      NEXT_PUBLIC_API_BASE_URL: "http://localhost:8080/api"
    ports:
      - "3000:3000"
    depends_on:
      - nginx

volumes:
  db_data:
