.table :global(.ant-table) {
  overflow: hidden;
}

.table :global(.ant-table-thead > tr > th) {
  background: #f0f2f5 !important;
  font-weight: 600;
}

.row {
  cursor: pointer;
  position: relative;
}

.table :global(.ant-table-tbody > tr:not(.ant-table-placeholder):hover > td) {
  background: #e6f4ff !important;
}

:global(tr:hover) .hoverIcon {
  opacity: 1;
  transform: translateX(0);
}
